body,
html {
  height: 100%;
  margin: 0;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url(../assets/images/login_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.login-container {
  width: 40vw;
  height: 75vh;
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 28vw;
}

label {
  margin-top: 5.5vh;
  font-size: 17.8vh;
}

input {
  padding: 3.3vh;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background: linear-gradient(to right, #12FFF7, #B3FFAB);
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 14.85px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 7vh;
}

button:hover {
  background-color: #45a049;
}

.organizer-text {
  color: black;
  font-weight: 400;
  font-size: 2.6vh;
  font-family: 'Poppins', sans-serif;
  margin-top: -1.5vh;
  margin-bottom: -2vh;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  bottom: 3vh;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.forgot-pw-text {
  align-self: self-end;
  margin-top: 1.5vh;
  font-size: 2vh;
  color: red;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.register-text {
  align-self: self-end;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  font-size: 2vh;
  color: black;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.header-text {
  font-size: 4.8vh;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: 3vh;
  color: black;
}