.login-container {
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 12.5% 0;
  width: 45%;
  height: 40%;
  flex-direction: column;
  align-items: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  padding: 10px;
  background-color: var(--button-color-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #2563eb;
}

.login-outer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 5.5%;
  justify-content: space-evenly;
}

.id-pw-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2% 0;
}