.ticket-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  overflow-y: auto;
}

.ticket-title {
  color: black;
  font-size: 3.75rem;
  align-self: center;
}

.ticket-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 20vh;
}

.qr-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 5vh;
  width: 80%;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: start;
  gap: 15px;
}

.info-box {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  width: 40%;
}

.info-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1vh;
  text-align: center;
}

.info-text-top {
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin-bottom: 1vh;
}

.info-text-bottom {
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.header-text {
  align-self: center;
  font-size: 3.5vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 6vh;
  color: black;
}

.header-bold {
  font-size: 4vh;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: 2vh;
  color: black;
}

.about {
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  color: black;
  width: 20%;
  line-height: 3vh;
  text-align: center;
  font-weight: 100;
  font-style: normal;
  color: black;
}

.info-text-top-z {
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin-bottom: 1vh;
  margin-top: 7vh;
}

.info-text-bottom-z {
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  margin-bottom: 4vh;
}
