.signup-container {
    width: 40vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.71);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label.signup {
    margin-top: 3vh;
    font-size: 17.8vh;
  }
  
  .header-text-signup {
    font-size: 3.5vh;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: .5vh;
    margin-bottom: .5vh;
    color: black;
  }
  
  .login-text {
    align-self: self-end;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: black; 
  }
  
  .text-normal {
    color: black; 
  }
  
  .text-highlight {
    color: #20DC49;
  }
  

  .error {
    color: #f44336; /* Red color for errors */
    font-size: 12px;
    margin-top: 5px;
    display: block;
    text-align: left;
  }
  


